.App {
  text-align: center;
}

.previously{
  border: 1px solid red;
  margin: 20px;
}


.trackContainer{
  border: 1px solid purple;
  margin: 20px;
}

.trackContainer span{
  font-weight: normal;
  font-size: .8em
}

.messageContainer{
  border: 1px solid green;
  margin: auto;
  color: white;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/eb/Magic_eight_ball.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -5;
}

.messageContainer p {
  font-size: .8em;
  /* border: 1px solid yellow; */
  max-width: 90px;
}

.random{
  border: 1px solid green;
  margin-top: 90px;
}